<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Agregar ingrediente</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_agregar_ingrediente.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <h1 id = 'titulo'>Agregacion de Ingredientes de la receta:{{ nombre_receta }}</h1>
            <form action= "{{ url_for('agregarIngrediente', id_receta=id_receta, nombre_receta=nombre_receta, cantidad=cantidad+1) }}" method="post">
                <div class="input-group mb-3" id = 'div1'>
                    <span class="input-group-text" id="basic-addon1">Ingrediente</span>
                    <input type="text" class="form-control" placeholder="Nombre del ingrediente" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3" id = 'div2'>
                    <span class="input-group-text" id="basic-addon1">Cantidad</span>
                    <input type="text" class="form-control" placeholder="Ingrese cantidad de Ingredientes" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3" id = 'div3'>
                    <span class="input-group-text" id="basic-addon1">Unidad</span>
                    <input type="text" class="form-control" placeholder="Unidad" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </form>
        <a href="{{ url_for('recetaAgregada', nombre_receta=nombre_receta) }}" class="btn btn-success" id = 'boton'>Terminar</a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
<!-- <label for="nombre" >Ingrediente</label>
                <input type="text" name="nombre" placeholder="Ingrediente"><br>
                <label for="cantidad">Cantidad</label>
                <input type="number" name="cantidad" placeholder="Cantidad"><br>
                <label for="unidad">Unidad</label>
                <input type="text" name="unidad" placeholder="Unidad"><br>
                <input type="submit" value="Agregar ingrediente"> !-->