{% extends "base_template.html" %}
{% block title %}Pagina Principal{% endblock %}
{% block content %}
    
    <div  id = 'bienv'>
        <h1 id = 'parf'>Bienvenidos</h1>
    </div>
    <div  id = 'bienvenida'>
        <h1 id = 'parrafo'>Esta pagina web ha sido creada
            con el fin de poder compartir distintas 
            recetas con toda la comunidad adherida,
            donde podras compartir, comentar, y dar 
            me gusta a distintas recetas.
        </h1>
    </div>
    {% endblock %}
    
        